<!-- case2.tmpl -->
{{range .Files}}
# {{.Name}}
{{.Description}}

{{.}}

{{range .Services}}
## ServiceName: {{.Name}}
{{.Description}}

{{.}}
{{end}} <!-- end Services -->
{{end}} <!-- end Files -->
